{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Place_ID</th>
        <th>Duration_Mins</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for errand in errands %}
        <tr>
          <td>{{ errand.name }}</td>
          <td>{{ errand.place_id }}</td>
          <td>{{ errand.duration_mins }}</td>
          <td>{{ errand.notes }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}